#game {
  border: solid 2px;
}


#interface {
  display: flex;
  justify-content: center;
}

#static {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}
#chainReaction {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
}
.column {
  display: flex;
}

.row {
  width: 60px;
  height: 60px;
  text-align: center;
  border: solid green 1px;
}


.general {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

header {
  text-align: center;
}
