#game {
  border: solid 2px;
}

.column {
  display: flex;
}

.row {
  border: solid green 1px;
  display: flex;
  flex-direction: column;
  flex: auto;
  text-align: center;
  flex: 1 5 auto;
}
#interface {
  display: flex;
  justify-content: center;
}

.general {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

header {
  text-align: center;
}
