#winner {
  font-size: medium;
}
#interface {
  display: flex;
  justify-content: center;
  position: relative;
}
#dynamic {
  z-index: 1;
  position: absolute;
  background-color: transparent;
  opacity: 1.0;
}
#static {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  opacity: 1.0;
}
#grid {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  opacity: 1.0;
}

.overview {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.general {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bar-wrap {
  display: flex;
  justify-content: center;
}
.row {
  width: 60px;
  height: 60px;
  text-align: center;
  border: solid green 1px;
}
.players {
  margin: 1%;
}
/*
Prevent a user from clicking.
*/
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

