<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/waiting.css">
    <link rel="stylesheet" href="/static/css/game.css">
    <!-- We need index.css for the btn style -->
    <title>Chain Reaction Game</title>
</head>

<body>
    <div class="overview">
        <div class="noSelect">
            <h2>CHAIN REACTION</h2>
        </div>
        <div class="general">
            <div class="bar-wrap">
                <canvas id="bar"></canvas>
            </div>
            <div class="players noSelect">Ryan vs Benedict</div>
            <div id="interface">
                <canvas id="dynamic" width="450px" height="450px"></canvas>
                <canvas id="static" width="450px" height="450px"></canvas>
                <canvas id="grid" width="450px" height="450px"></canvas>
            </div>
        </div>
        <div>
            <div id="userColor" class="noSelect"></div>
            <div class="noSelect">Your Pin is {{ .Pin }}</div>
            <div class="noSelect">Your Room is {{ .Room }}</div>
            {{ if .Leader }}
            <div id="boardMatrix">
                <label for="rows" class="noSelect">Rows</label><br>
                <input type="text" id="rows" name="rows" value="8"><br>
                <label for="columns" class="noSelect">Columns</label><br>
                <input type="text" id="columns" name="columns" value="8"><br>
                <br>
                <button id="boardBtn" class="ent">Enter</button>
            </div>
            {{ end }}
        </div>
    </div>
    <div id="waitingRoom" class="noSelect">
        <div class="wait-title">
            <h2>Chain Reaction</h2>
        </div>
        <div class="wait-current">
            <div id="players">{{ .Players }}</div>
            <div>/</div>
            <div id="max">{{ .Max }}</div>
        </div>

        <div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="ent-ext">
            {{if .Leader}}
            <button id="entBtn" class="ent">Start</button>
            {{ end }}
            <button class="ext">Exit</button>
        </div>
    </div>
</body>
<script src="/static/js/board.js"></script>
<script>
    // start is the only new variable
    // true when game is ok to start.
    let ext = document.querySelector(".ext")
    let userColor = document.getElementById("userColor")
    let path = document.location.pathname
    let id = path.slice(path.length - 8)
    let players = document.getElementById("players")
    let waiting = document.getElementById("waitingRoom");
    let socket = new WebSocket("ws://" + document.location.host + "/ws/" + id);
    let chain = new chainReaction(8, 8, "red", socket);

    // The bar above the players
    let bar = document.getElementById("bar").getContext("2d");
    let start = false
    bar.canvas.width = chain.canvas.width;
    // height is 10% of width
    bar.canvas.height = bar.canvas.width * 0.05;

    let changeBarC = (color) => {
        bar.fillStyle = color;
        bar.fillRect(0, 0, bar.canvas.width, bar.canvas.height);
    }
    ext.onclick = () => {
        document.location.href = "http://" + document.location.host
    }
    chain.grctx.canvas.onclick = (event) => {
        if (chain.state === true && start === true && chain.color === chain.mycolor) {
            let canvasObj = event.target.getBoundingClientRect();
            // Get the square coords clicked
            let x = Math.floor((event.clientX - canvasObj.left) / chain.squareLength);
            let y = Math.floor((event.clientY - canvasObj.top) / chain.squareLength);

            if (chain.squares[y][x][2] === chain.mycolor || chain.squares[y][x][2] === "") {
                console.log(x, y)
                // Prevent players from clicking other people's squares
                chain.socket.send(JSON.stringify({ type: "move", x: x, y: y}))
            }
        }
    }
    chain.socket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log(data)
        switch (data.type.toLowerCase()) {
            case "start":
                start = true
                waiting.style.display = "none";
                chain.color = data.next
                chain.rows = data.rows
                chain.cols = data.cols
                chain.squareLength = Math.min(450 / chain.rows, 450 / chain.cols);
                chain.initBoard();
                changeBarC(data.next)
                break;
            case "move":
                chain.color = data.next;
                chain.clicked(data.x, data.y);
                changeBarC(data.next);
                break;
            case "color":
                console.log("WE HERE")
                chain.mycolor = data.color
                userColor.style.color = data.color
                userColor.innerHTML = `Your color is ${data.color}`
                break;
            case "update":
                players.innerHTML = data.players
        }
    };
    chain.initBoard();
</script>
{{if .Leader}}
<script>
    let rows = document.getElementById("rows");
    let cols = document.getElementById("columns");
    let boardBtn = document.getElementById("boardBtn");
    boardBtn.onclick = () => {
        // Size bouds for cols and rows is [5, 30]
        if (start === true) { return }
        chain.rows = rows.value !== "" ? Math.max(5, parseInt(rows.value)) : 5;
        chain.cols = cols.value !== "" ? Math.max(5, parseInt(cols.value)) : 5;
        if (chain.rows > 30) {
            chain.rows = 30;
            rows.value = "30";
        }
        if (chain.cols > 30) {
            chain.cols = 30;
            cols.value = "30";
        }
        chain.squareLength = Math.min(450 / chain.rows, 450 / chain.cols);
        chain.initBoard();
    }
    let enter = document.querySelector("#entBtn");
    // Start the game.
    if (enter !== null && start !== true) {
        enter.onclick = () => {
            
            socket.send(JSON.stringify({
                type: "start",
                cols: chain.cols,
                rows: chain.rows,
            }));
        }
    }
</script>
{{end}}

</html>